.videoList {
  display: flex;
  flex: 1 1 30%;
}

.videoList.center {
  flex-wrap: wrap;
  justify-content: center;
}

.videoList.side {
  flex-direction: column;
  justify-content: flex-start;
  margin: 0;
}

@media screen and (max-width: 48rem) {
  .videoList {
    margin: 0;
    padding: 1rem;
  }
}
