section {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 1rem;
}

.playerWrapper {
  position: relative;
  padding-bottom: 56.25%;
}

#ytPlayer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.title {
  font-size: var(--font-large);
  font-weight: var(--font-semi-bold);
}

.channel {
  font-size: var(--font-medium);
  font-weight: var(--font-semi-bold);
}

.description {
  font-size: var(--font-regular);
  white-space: pre-wrap;
}
