.video {
  display: flex;
  flex-direction: column;
  width: 280px;
  height: 280px;
  margin: 0.5rem;
  padding: 0.5rem;
  border-radius: var(--size-border-radius);
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  cursor: pointer;
  transition: all var(--animation-duration) ease-in;
}

.video:hover {
  transform: scale(1.01);
  background-color: var(--color-light-grey);
}

.video.video--side {
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: unset;
  margin: 0.5rem 0;
}

.thumbnail {
  flex-basis: 48%;
}

.thumbnailImg {
  width: 100%;
  height: 100%;
}

.info {
  flex-basis: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.title {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
  width: 100%;
}

.channel {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
  width: 100%;
  color: var(--color-dark-grey);
}

@media screen and (max-width: 48rem) {
  .video {
    flex-grow: 1;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    height: unset;
    margin: 0.5rem 0;
  }
}
