:root {
  /* Color */
  --color-black: black;
  --color-dark-grey: darkgrey;
  --color-grey: lightgrey;
  --color-light-grey: whitesmoke;

  /* Font size */
  --font-large: 2rem;
  --font-medium: 1.5rem;
  --font-regular: 1rem;
  --font-small: 0.9rem;

  /* Font weight */
  --font-bold: 700;
  --font-semi-bold: 600;

  /* Size */
  --size-border-radius: 4px;

  /* Animation duration */
  --animation-duration: 300ms;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
}

ul {
  list-style: none;
  padding-left: 0;
}

body {
  max-width: 1200px;
  margin: auto;
}

main {
  display: flex;
  justify-content: space-between;
}
